In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.preprocessing import LabelEncoder
from collections import Counter

In [2]:
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
x = data.iloc[:,:-1]
y = data.outcome

In [4]:
enc=LabelEncoder()
x.buying=enc.fit_transform(x.buying)
x.maint=enc.fit_transform(x.maint)
x.lug_boot=enc.fit_transform(x.lug_boot)
x.safety=enc.fit_transform(x.safety)

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [6]:
model = RandomForestClassifier()
model.fit(x_train,y_train)
y_predict = model.predict(x_test)
accuracy_score(y_test,y_predict)

0.9699074074074074

In [12]:
model = RandomForestClassifier(n_estimators=300,max_depth=29)
model.fit(x_train,y_train)
y_predict = model.predict(x_test)
accuracy_score(y_test,y_predict)

0.9837962962962963

In [49]:
x.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [52]:
model.predict([[2,3,4,5,2,2]])

array(['unacc'], dtype=object)

In [45]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

         acc       0.98      0.88      0.93        92
        good       0.73      0.92      0.81        12
       unacc       0.98      0.99      0.99       308
       vgood       0.95      1.00      0.98        20

    accuracy                           0.97       432
   macro avg       0.91      0.95      0.93       432
weighted avg       0.97      0.97      0.97       432

In [46]:
confusion_matrix(y_test,y_predict)

array([[ 81,   4,   7,   0],
       [  0,  11,   0,   1],
       [  2,   0, 306,   0],
       [  0,   0,   0,  20]], dtype=int64)

In [47]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       81     4      7      0
good       0    11      0      1
unacc      2     0    306      0
vgood      0     0      0     20